<html>
<head>
<meta charset="utf-8">
<title>Box Label</title>
<style>
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 12px;color: #000000;}
    .container {width:354px;height:546px;margin:0 auto;padding:10px; border: 1px solid #f00}
    .shl {font-size: 18px;font-weight: bold;}
    .regTxt2 {font-size: 15px;}
    td,th {vertical-align: top; text-align: left;}
    .bold {font-weight: bold;}
    .txtleft {text-align: left;}
    .allcaps {text-transform: uppercase;}
    .breakTxt {word-break: break-all;}
</style>
</head>
<body>
<div class="container">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
		<tr>
			<td width="90" class="bold" style="text-align: center; font-size:60pt;border-radius:10px 0 0 10px;border:1px solid #c0c0c0;">L<!-- first initial of last name --></td>
			<td width="" class="breakTxt" style="padding:0px 0 10px 20px;vertical-align:top;border-radius:0 10px 10px 0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;border-top: 1px solid #c0c0c0;">
                <p>Last Name:<br>
			<span class="breakTxt regTxt2 bold allcaps">LongStudentLastName</span></p>
                First Name:<br>
			<span class="breakTxt regTxt2 bold allcaps">LongStudentFirstName</span>
            </td>
		</tr><!-- LongStudentLastName, LongStudentFirstName -->
        <tr><td colspan="2" style="padding-top: 20px;"><br></td></tr>
        <tr>
            <th colspan="2" class="vtop shl txtleft" style="padding:0 0 8px 10px;text-transform: uppercase;">Program Information:</th>
        </tr>
		<tr>
			<td class="" style="padding:10px 0 10px 10px;border-radius:10px 0 0 0;border:1px solid #c0c0c0;">Program:</td>
			<td class="" style="padding:10px 0 10px 10px;border-radius:0 10px 0 0;border-top:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;"><span class=" bold allcaps regTxt2">Box of Books</span></td>
		</tr>
		<tr>
			<td class="" style="padding:10px 0 10px 10px;border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;">Campus:</td>
			<td class="" style="padding:10px 0 10px 10px;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;"><span class=" bold allcaps regTxt2">Really Long Campus Name Goes here</span></td>
		</tr>
		<tr>
			<td class="" style="padding:10px 0 10px 10px;border-radius:0 0 0 10px;border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;">Term:</td>
			<td class="" style="padding:10px 0 10px 10px;border-radius:0 0 10px 0;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;"><span class=" bold allcaps regTxt2">Spring Semester 2021</span></td>
		</tr>
        <tr><td colspan="2" style="padding-top: 20px;"><br></td></tr>
        </tbody>
    </table>    

</div>
</body>
</html>